footer {
    padding: $py_section;
    color: $brown;

    .container {
        display: flex;

        .left-content {
            width: 300px;
            display: flex;
            align-items: flex-start;
            font-weight: 600;
            font-size: 1.1rem;
            padding-right: 60px;
            line-height: 1.5rem;

            img {
                margin-right: 10px;
            }

            small {
                color: $blue;
            }
        }

        .lists {
            display: flex;
            justify-content: space-between;

            ul {
                flex: 1;

                li {
                    margin-bottom: 20px;

                    a:hover {
                        text-decoration: underline;
                    }
                }

                li.title {
                    font-weight: 600;
                    font-size: 1.3rem;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

// on mobile
@media screen and (max-width: 997px) {
}

// on tablet
@media screen and (max-width: 1169px) {
    footer {
        //general
        .container {
            flex-direction: column;

            .left-content {
                width: 100%;

                img {
                    height: 6rem;
                    margin-bottom: 30px;
                }
            }

            .lists {
                flex-wrap: wrap;

                ul {
                    flex-basis: 30%;
                    flex-grow: 0;
                    flex-shrink: 0;
                }
            }
        }
    }
}
