section.process {
    padding: $py_section 0;

    .feedback,
    .reviews {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 70px;
    }

    .surveys,
    .praise {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 70px;

        .content {
            align-items: flex-end;
        }
    }

    img {
        max-width: 50%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h2 {
            @include section-title;
            max-width: 50%;
            margin-bottom: 80px;
        }

        h3 {
            font-size: 1.6rem;
            font-weight: normal;
            color: $brown;
            line-height: 2.8rem;
            max-width: 50%;
            margin-bottom: 30px;
        }

        a.link {
            color: $blue;
            font-size: 1.5rem;
            margin-bottom: 40px;
            width: 50%;
        }
    }
}

// on mobile
@media screen and (max-width: 997px) {
}

// on tablet
@media screen and (max-width: 1169px) {
    section.process {
        .container-big {
            width: 100%;
        }

        .feedback,
        .reviews,
        .surveys,
        .praise {
            flex-direction: column;
            align-items: center;
        }

        img {
            max-width: 90%;
        }

        .content {
            align-items: center;

            h2 {
                max-width: 90%;
                text-align: center;
                align-self: center;
                margin-bottom: 40px;
            }

            h3 {
                max-width: 90%;
                text-align: center;
                align-self: center;
            }

            a.link {
                width: 90%;
                text-align: center;
                align-self: center;
            }

            img {
                align-self: center;
            }
        }
    }
}
